<main>
  <div class="circleDiv">
    <div class="triangle"></div>
    <div class="inputDiv">
    <input placeholder="What number to spin to?..." #sectorInput (input)="log(sectorInput.value)" type="number" />
    </div>
    <div id="circle" (click)="randomGenerator(10)" class="circle">
      <div
        [ngStyle]="{
          transform: `rotate(${18 * (i*2+1)}deg)`
        }"
        *ngFor="let color of GlobalColors; let i = index"
        class="number"
      >
        <span>{{ i + 1 }}</span>
      </div>
      <div (click)="spinWheel()" class="spin">
        <span>SPIN</span>
      </div>
    </div>
  </div>
</main>
