<main>
  <div class="search">
    <span>Todos</span>
    <input [(ngModel)]="todoSearch" (input)="search(todoSearch)" type="text" placeholder="Search..." />
  </div>
  <table>

    <tr [style.background-color]=" todo.completed ? '#2E744A' : '$color-bg-login'" *ngFor="let todo of filteredTodos">
      <td data-cell="Todo">{{ todo.title }}</td>
      <td data-cell="Completed">
        <button
          class="postsButton"
        >
          {{todo.completed}}
        </button>
      </td>
    </tr>
  </table>
</main>
