<main>
  <div
    class="post"
    *ngFor="let post of allPosts"
    (click)="
      toggleCard(post.id, post.title, post.body, getUserName(post.userId))
    "
  >
    <div class="username">
      <span class="bolder">Author</span>
      <span>{{ getUserName(post.userId) }}</span>
    </div>
    <div class="title">
      <span class="bolder">Title</span>
      <span>{{ post.title }}</span>
    </div>
  </div>
  <div
    *ngIf="isExpanded"
    [class.expanded]="isExpanded && cardExpanderId === this.cardExpanderId"
    class="post expandedCard"
  >
    <div class="username">
      <span class="bolder">Author</span>
      <span>{{ expandedCardUsername }}</span>
    </div>

    <div class="title">
      <span class="bolder">Title</span>
      <span>{{ expandedCardTitle }}</span>
    </div>

    <div *ngIf="isExpanded" class="desc">
      <span class="bolder">Description</span>
      <span>{{ this.expandedCardBody }}</span>
    </div>
  </div>

  <div class="overlay" *ngIf="isExpanded" (click)="toggleCard()"></div>
</main>
