<main>
    <div class="leaderboardname"> <span>Leaderboard</span></div>
    <div class="filters">
         <span [ngClass]="activeWeek === 'I' ? 'activatedWeek' : ''" (click)="searchByWeek('I')">I</span>
         <span [ngClass]="activeWeek === 'II' ? 'activatedWeek' : ''" (click)="searchByWeek('II')">II</span>
         <span [ngClass]="activeWeek === 'III' ? 'activatedWeek' : ''" (click)="searchByWeek('III')">III</span>
         <span [ngClass]="activeWeek === 'IV' ? 'activatedWeek' : ''" (click)="searchByWeek('IV')">IV</span>
         <span [ngClass]="activeWeek === 'ALL' ? 'activatedWeek' : ''" (click)="searchByWeek('ALL')" >ALL</span>

        </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Week</th>
    </tr>

    <tr *ngFor="let user of tempLeaderboardArr">
      <td data-cell="name">{{user.loginName}}</td>
      <td data-cell="Position">{{user.place}}</td>
      <td data-cell="Week">{{user.week}}</td>
    </tr>
  </table>
</main>
