@use "../../variables.scss" as *;
.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 130px;
  height: 100%;
  background-color: #272831;
  color: white;

  .selectorLine{
    position: absolute;
    right: 0;
    height: 35px;
    width: 0px;
    border: 1px solid $color-primary;
    transform: all 1s;
  }
  .navigationText {
    width: 90%;
    height: 78px;
    margin-top: 20px;
    border-bottom: 1px solid $color-primary;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 78px;
    }
  }
  .options {
    display: flex;
    flex-direction: column;
    .option {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      cursor: pointer;
    }
  }
  svg {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 24px;
    height: 24px;
    fill: white;
  }
}

@media (max-width: 500px) {
  .navigation {
    position: absolute;
    z-index: 1;
    width: 130px;
  }
}
