@use '../../variables.scss' as *;
.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100px;
  height: 100%;
  background-color: #272831;
  color: white;
  .navigationText {
    width: 100%;
    height: 78px;
    margin-top: 20px;
    // border: 1px solid black;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 78px;
    }
  }
  .options {
    display: flex;
    flex-direction: column;
    // gap: 10px;
    .option {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    //   border: 1px solid black;
    //   border-radius: 10px;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span{
      cursor: pointer;
    }
  }
  svg{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 24px;
    height: 24px;
    fill: white;
  }
}

@media (max-width: 500px){
    .navigation{
        // display: none;
        position: absolute;
        z-index: 1;
    }
}

